.circle {
  border-radius: 50%;
  position: absolute;
  top: 10%;
  right: 15%;
  width: 8px;
  height: 8px;
  transform: translate(-50%, -50%);
  background-color: red;
  font-size: 12px;
  color: white;
  text-align: center;
  font-weight: 700;
}
