#	Copyright (c) 2021 Cisco and/or its affiliates
#
#	This software is licensed under the terms of the Cisco Sample Code License (CSCL)
#	available here: https://developer.cisco.com/site/license/cisco-sample-code-license/

deepdiff==5.6.0
google_api_python_client==2.33.0
protobuf==3.19.1
pytest==6.2.5
requests==2.25.1
urllib3==1.26.2
