.vrf-detail-container {
    width: 100%;
}
.vrf-detail-section-container {
    margin: 25px 0;
    border: solid rgba(167, 167, 167, 0.74) 1px;
}
td.break {
    padding: 0 65px 0 0;
}
#endpoints-table {
    width: 100%;
    table-layout: fixed;
    //margin: 0 0 5px;
    text-align: left;
    thead {
    }
    tr:nth-child(odd) {
        background-color: rgba(167, 167, 167, 0.74);
    }
}
.endpoint-btn {
    margin: 0 0 5px 5px;
}

.edit-btn {
    height: 25px;
    margin-left: 5px;
}
.red-btn {
    background-color: red;
    color: #ffffff;
}
.delete-btn {
    float: right;
}
#save-changes-to-vrf-button {
    margin: 15px;
}
select {
    width: 185px;
}
