.new-vrf-connection-wrapper {
    width: 100%;
    flex-direction: column;
}
.new-vrf-data-container {
    width: 100%;
    margin: 25px 0;
    border: solid 1px rgba(167, 167, 167, 0.74);
}
.vrf-section-header {
    background-color: rgba(167, 167, 167, 0.74);
    width: 100%;
    font-weight: bold;
    padding-left: 3px;
}
form {
    display: flex;
}
.vrf-column-1 {
    width: 24%;
}
.vrf-column-2 {
    width: 16%;
}
.vrf-column-3 {
    width: 58%;
    margin-left: 15px;
}
.vrf-column-item {
    width: 100%;
    margin: 5px;
}
.vrf-column-1-item {
    width: 100%;
    margin: 5px;
    text-align: right;
}
.vrf-column-item-number {
    width: 100%;
    margin: 5px;
    text-align: right;
    padding-right: 15px;
}
input[type="number"] {
    width: 100px;
}
input {
    height: 21px;
}
.vrf-column-checkbox-item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
input,
select {
    margin: 5px;
}
#hardware_support {
    margin-left: 35px;
}
.vrf-crypto-container {
    width: 100%;
    margin: 5px;
}
select {
    width: 185px;
}
