.new-vrf-connection-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.new-vrf-data-container {
  width: 100%;
  margin: 25px 0;
  border: solid 1px black;
}
.vrf-details-bar {
  background-color: rgba(167,167,167,0.74);
  width: 100%
}
form {
  display: flex;
}
.vrf-column-1 {
  width: 25%;
}
.vrf-column-2 {
  width: 25%;
}
.vrf-column-3 {
  width: 60%;
}
.vrf-column-item {
  width: 100%;
  margin: 5px;
}
input, select {
  margin: 5px;
}
.vrf-crypto-container {
  width: 100%;
  margin: 5px;
}




