@import 'style/settings.scss';

.loginForm {
  max-width: 580px;
  &__wrapper {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: transparent;
  }
  &__title {
    padding-bottom: 24px;
    font-size: $basic-size;
    font-weight: 500;
    color: var(--titleColor);
  }
  &__fieldset {
    border: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__field {
    margin: 24px 0px;
    width: calc(50% - 10px);
  }
  &__submit {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  &__btn {
    text-transform: capitalize;
    color: white;
    padding: $padding-sm $padding-md;
    min-width: 170px;
    margin: $margin-md 0px 10px 16px;
  }
  &__cancel {
    text-transform: capitalize;
    background-color: transparent;
    color: #3d89eb;
    font-weight: 400;
    padding: $padding-sm $padding-md;
    min-width: 170px;
    margin: $margin-md 0px;
    border: 1px solid #3d89eb;
  }

  &__disabled {
    display: none;
  }
}
