@import 'style/settings.scss';

.table__setting {
  &__column {
    padding: $padding-md;
    width: 100%;
    border-right: $table-border;
    font-size: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &:last-of-type {
      border-right: none;
    }
  }
  &__time {
    width: 40%;
  }
  &__checked {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__box {
    padding: $padding-md;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }
}

.certificates {
  &__box {
    padding: $padding-md 0 $padding-sm;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__wrapper {
    overflow-y: scroll;
    max-height: 390px;
  }
  &__button {
    margin-left: $margin-md;
    background-color: $primary;
    color: white;
  }
  &__empty {
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__input {
    display: none;
  }
}
