@import 'style/settings.scss';

.mainLayout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 1;

  &__content {
    padding: $padding-lg;
    margin-left: 212px;
    margin-top: 50px;
    width: calc(100% - 212px);
    min-height: calc(100vh - 50px);
    position: relative;
  }
}

@media screen and (min-device-width: 1921px) {
  // css styles here
}

@media screen and (min-device-width: 1281px) and (max-device-width: 1920px) {

}

@media screen and (min-device-width: 1135px) and (max-device-width: 1280px) {
  // css styles here
}

@media screen and (min-device-width: 1025px) and (max-device-width: 1134px) {
  // css styles here
}

@media screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  // css styles here
}

@media screen and (min-device-width: 601px) and (max-device-width: 768px) {
  // css styles here
}

@media screen and (min-device-width: 415px) and (max-device-width: 600px) {
  // css styles here
}

@media screen and (min-device-width: 376px) and (max-device-width: 414px) {
  // css styles here
}

@media screen and (min-device-width: 321px) and (max-device-width: 375px) {
  // css styles here
}

@media screen and (max-device-width: 320px) {
  // css styles here
}