@import 'style/settings.scss';

.mainLayout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 1;

  &__content {
    padding: $padding-lg;
    margin-left: 212px;
    margin-top: 50px;
    width: calc(100% - 212px);
    min-height: calc(100vh - 50px);
    position: relative;
  }
}
