@import "./src/css/ColorThemes";

.endpoints-table {
    width: 100%;
    table-layout: fixed;
    text-align: left;
    thead {
    }
    tr:nth-child(odd) {
        background-color: $light-gray;
    }
}
