#	Copyright (c) 2021 Cisco and/or its affiliates
#
#	This software is licensed under the terms of the Cisco Sample Code License (CSCL)
#	available here: https://developer.cisco.com/site/license/cisco-sample-code-license/

Cisco-IOS-XE-native:native/crypto/ikev2/proposal
Cisco-IOS-XE-native:native/crypto/ikev2/proposal=hardware_psk
{
   "proposal":{
      "name":"hardware_psk",
      "encryption":{
         "{{ index .CryptoPh1Slice 0 }}":[null]
      },
      "integrity":{
         "{{ index .CryptoPh1Slice 1 }}":[null]
      },
      "prf":{
         "{{ index .CryptoPh1Slice 1 }}":[null]
      },
      "group":{
         "{{ index .CryptoPh1Slice 2 }}":[null]
      }
   }
}
