#	Copyright (c) 2021 Cisco and/or its affiliates
#
#	This software is licensed under the terms of the Cisco Sample Code License (CSCL)
#	available here: https://developer.cisco.com/site/license/cisco-sample-code-license/

Cisco-IOS-XE-native:native/crypto/ikev2/keyring
Cisco-IOS-XE-native:native/crypto/ikev2/keyring=hardware_psk
{
        "keyring": {
                "name": "hardware_psk",
                "peer": [
                {{ range $index, $endpoint := .EndpointSubset }}
                        {
                                "name": "{{ $.ClientName }}{{ $endpoint.ID }}",
                                "address": {
                                        "ipv4": {
                                        "ipv4-address": "{{ $endpoint.RemoteIPSec }}"
                                        }
                                },
                                "pre-shared-key": {
                                        "key": "{{ $endpoint.Authentication.PSK }}"
                                }
                        } {{ if (notEndOfSlice $.EndpointSubset $index) }},{{ end }}
                {{ end }}
                ]
        }
}
