Cisco-IOS-XE-native:native/crypto/ipsec/profile
{{ range $index, $endpoint := .EndpointSubset }}Cisco-IOS-XE-native:native/crypto/ipsec/profile=hardware_psk{{ $endpoint.ID }} {{end}}
{
        "profile": [
        {{ range $index, $endpoint := .EndpointSubset }}
                {
                        "name": "hardware_psk{{ $endpoint.ID }}",
                        "set": {
                        "ikev2-profile": "hardware_psk{{ $endpoint.ID }}",
                        "pfs": {
                        "group": "{{ index $.CryptoPh2Slice 2 }}"
                        },
                        "transform-set": [
                        "hardware_psk"
                        ],
                        "security-association": {
                        "lifetime": {
                        "kilobytes": "disable"
                        }
                        }
                        }
                } {{ if (notEndOfSlice $.EndpointSubset $index) }},{{ end }}
        {{ end }}
        ]
}
