@import 'style/settings.scss';

.toolTipInfo {
  position: absolute;
  top: 70%;
  left: 10%;
  right: 10%;
  font-size: 10px;
  transition: all 0.3s linear;
  background-color: var(--backgroundHoverVrf);
  border-radius: $border-radius-sm;
  color: $blue;
  padding: 8px;
  box-shadow: 0 2px 6px rgb(0 0 0 / 0.08);
  opacity: 0;
  visibility: hidden;
  line-height: 15px;
  text-align: center;

  &__active {
    opacity: 1;
    visibility: visible;
  }
}

.toolTip {
  position: absolute;
  width: auto;
  top: 70%;
  left: 10%;
  min-width: 145px;
  font-size: $small-size;
  transition: all 0.3s linear;
  background-color: var(--backgroundHoverVrf);
  border-radius: $border-radius-sm;
  color: $blue;
  padding: 8px;
  box-shadow: 0 2px 6px rgb(0 0 0 / 0.08);
  opacity: 0;
  visibility: hidden;
  line-height: 15px;
  text-align: center;

  &__active {
    opacity: 1;
    visibility: visible;
  }
}
