{
        "id": 3,
        "client_name": "ansible_x509",
        "vlan": 321,
        "crypto_ph1": [
          "aes128",
          "sha256",
          "modp2048"
        ],
        "crypto_ph2": [
          "aes128",
          "sha256",
          "modp2048"
        ],
        "physical_interface": "",
        "active": true,
        "local_as": 65001,
        "lan_ip": "1.1.1.1/24",
        "endpoints": [
          {
            "remote_ip_sec": "10.1.0.1",
            "local_ip": "10.2.0.1",
            "peer_ip": "10.2.0.2",
            "remote_as": 0,
            "nat": false,
            "bgp": true,
            "source_interface": "",
            "authentication": {
              "type": "certs",
              "psk": "",
              "local_cert": "{{ lookup("file", "local_cert.pem") | replace("\n", "\\n") }}",
              "remote_cert": "{{ lookup("file", "remote_cert.pem") | replace("\n", "\\n") }}",
              "private_key": "{{ lookup("file", "private_key.pem") | replace("\n", "\\n") }}"
            }
          }
        ]
      }
