@import 'style/settings.scss';

@function rem($value) {
  @return unquote(($value/1px)/16+'rem')
}

$white: #ffffff;
$speed: 2s;
$dotCount: 8;

.loader {
  height: rem(100px);
  width: rem(100px);
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  &__dot {
    width: rem(10px);
    height: rem(10px);
    border-radius: rem(100px);
    position: absolute;
    animation: dotAnimate $speed ease-in-out infinite;
    &:nth-child(1) {
      left: -2%;
      transform: translateX(0);
    }
    &:nth-child(2) {
      left: 50%;
      top: -18%;
      transform: translateX(-50%);
    }
    &:nth-child(3) {
      left: 102%;
      transform: translateX(-100%);
    }
    &:nth-child(4) {
      top: 50%;
      left: 118%;
      transform: translateX(-100%) translateY(-50%);
    }
    &:nth-child(5) {
      top: 94%;
      left: 100%;
      transform: translateX(-100%) translateY(-50%);
    }
    &:nth-child(6) {
      left: 50%;
      bottom:-1%;
      transform: translateX(-50%) translateY(100%);
    }
    &:nth-child(7) {
      top: 94%;
      left: 20%;
      transform: translateX(-100%) translateY(-50%);
    }
    &:nth-child(8) {
      top: 50%;
      right: 118%;
      transform: translateX(100%) translateY(-50%);
    }
    @for $i from 1 through $dotCount {
      &:nth-child(#{$i}) {
        animation-delay: #{$i * $speed /$dotCount};
      }
    }
  }
}

@keyframes dotAnimate {
  0%, 40%, 100% {
    background-color: rgba($primary,0.25);
  }
  20% {
    background-color: $primary;
    height: rem(20px);
    width: rem(20px);
  }
}



//.spinner, .spinner-text {
//  margin: 5px;
//  display: flex;
//  justify-content: center;
//}
//
//.spinner::after {
//  content: '';
//  width: 50px;
//  height: 50px;
//  border: 10px solid transparent;
//  border-top-color: $primary;
//  border-radius: 50%;
//  animation: loading 1s ease infinite;
//}
//
//@keyframes loading {
//  to {
//    transform: rotate(1turn);
//  }
//}