@import 'style/settings.scss';

.endpointInput {
  position: relative;
  align-items: flex-start;
  width: 100%;
  font-size: $basic-size;
  border: none;
  outline: none;
  background-color: transparent;
  padding: $padding-sm 8px;

  height: 40px;
  &::placeholder {
    color: $lightGray;
    padding-left: $padding-sm;
    font-weight: 400;
    font-size: $basic-size;
  }
  &__psk {
    margin-right: 20px;
  }
  &:focus {
    border: 1px solid $lightBlue;
    box-shadow: 0px 0px 4px #1890ff80;
  }
  &__active {
    border-radius: $border-radius-sm;
    border: 1px solid $borderColor;
    padding-right: 25px;
    cursor: pointer;
  }
  &__checkbox {
    width: auto;
    &:focus {
      border: none;
      box-shadow: none;
    }
  }
  &__file {
    display: none;
  }
  &__radio {
    width: auto;
    margin-right: 15px;
  }
  &__icon {
    position: absolute;
    right: 30px;
    cursor: pointer;
    font-size: 16px;
    transform: translateX(-100%);
    color: $gray05;
    &__hardware {
      right: 20px;
    }
  }
  &__hardware {
    width: 80%;
    margin-right: 20px;
  }
  &__error {
    border: 1px solid $red;
    animation: error 1s ease-in-out;
  }
}

@keyframes error {
  0% {
    transform: translateX(-2px);
  }
  10% {
    transform: translateX(+2px);
  }
  20% {
    transform: translateX(-2px);
  }
  30% {
    transform: translateX(+2px);
  }
  40% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(+2px);
  }
  60% {
    transform: translateX(-2px);
  }
  70% {
    transform: translateX(+2px);
  }
  80% {
    transform: translateX(-2px);
  }
  90% {
    transform: translateX(+2px);
  }
  100% {
    transform: translateX(0px);
  }
}
