@import 'style/settings.scss';

.endpointInput {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  padding:$padding-sm;
  &:focus {
    border-bottom: $endpoint-input-focus;
  }
  &__active {
    border-bottom: $endpoint-input;
  }
  &__checkbox {
    margin:0 auto;
    width: auto;
  }
  &__icon {
    cursor: pointer;
    margin-top: 3px;
  }
}
