@import 'style/settings.scss';

.status {
  position: fixed;
  top: 0;
  left: 212px;
  bottom: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 999999;
  &__active {
    opacity: 1;
    visibility: visible;
  }
  &__content {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-top: 54px;
    width: 100%;
    position: relative;

    &__error {
      &::before {
        content: '';
        position: absolute;
        animation: errorAnimation 5s ease-in-out;
        height: 2px;
        bottom: 0;
        background-color: red;
      }
    }
    &__success {
      &::before {
        content: '';
        position: absolute;
        animation: errorAnimation 5s ease-in-out;
        height: 2px;
        bottom: 0;
        background-color: green;
      }
    }
  }
  &__context {
    padding: $padding-xl;
    height: 40%;
    box-shadow: $endpoint-option-shadow;
    text-align: center;
    &__error {
      color: red;
    }
    &__success {
      color: green;
    }
  }
  &__description {
    font-size: $modal-description-size;
  }
}

@keyframes errorAnimation {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
