#	Copyright (c) 2021 Cisco and/or its affiliates
#
#	This software is licensed under the terms of the Cisco Sample Code License (CSCL)
#	available here: https://developer.cisco.com/site/license/cisco-sample-code-license/

Cisco-IOS-XE-native:native/crypto/pki/trustpoint
{{ range $index, $endpoint := .EndpointSubset }}Cisco-IOS-XE-native:native/crypto/pki/trustpoint=hardware_certs{{$endpoint.ID}} {{end}}
{
  "Cisco-IOS-XE-crypto:trustpoint": [
    {{ range $index, $endpoint := .EndpointSubset }}
    {
      "id": "hardware_certs{{ $endpoint.ID }}",
      "revocation-check": ["none"]
    }
    {{ if (notEndOfSlice $.EndpointSubset $index) }},{{ end }}
    {{ end }}
  ]
}
