@import 'style/settings.scss';

.crypto {
  margin: 10px 0px 5px;
  position: relative;
  width: 65%;
  border-bottom: 2px solid $gray01;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__label {
    margin-right: $margin-xl;
    min-width: 115px;
  }
  &__select {
    width: 100%;
    font-family: 'ciscoSansRegular', monospace;
    margin: 0 $margin-md;
    border: none;
    background-color: transparent;
    outline: none;
    font-weight: 300;
    cursor: pointer;
    padding: 8px 0px;
    background-color: white;
  }
}
