@import 'style/settings.scss';

.vrf {
  font-size: $small-size;
  &__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
  }
  &__button {
    padding: $padding-sm $padding-md;
  }
  &__name {
    line-height: 32px;
    color: $breadcrumb-font-color;
  }
  &__btn {
    height: 40px;
    &__disabled {
      background-color: $orange !important;
      opacity: 0.3;
    }
  }
}
