@import 'style/settings.scss';

.vrf {
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__button {
    min-width: 120px;
  }
  &__name {
    color: $breadcrumb-font-color;
  }
}
