@import 'style/settings.scss';

.vrf {
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__button {
    padding:$padding-sm $padding-md;
  }
  &__name {
    color: $breadcrumb-font-color;
  }
}
