@import 'style/settings.scss';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  opacity: 0;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  background-color: $modal-background;
  transition: $transition;
  &__active {
    opacity: 1;
    visibility: visible;
  }
  &__content {
    background-color: white;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    border-radius: $border-radius-lg;
  }
  &__header {
    font-weight: 600;
    font-size: 20px;
    padding: 24px;
    height: 20%;
  }

  &__context {
    padding: 0 24px 24px;
    height: 40%;
  }
  &__description {
    font-size: $small-size;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    height: 40%;
    padding: 0 $padding-xl $padding-xl;
  }
  &__btn {
    width: 45%;
    border: none;
  }
}
