@import 'style/settings.scss';

.table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  font-size: 12px;

  &__row--header {
    display: flex;
    background-color: white;
  }
  &__row {
    display: flex;
    height: 44px;
  }
  &__header {
    &__column {
      padding: $padding-md;
      width: 60%;
      border-right: $table-border;
      font-size: $standard-text-size;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      &:last-of-type {
        border-right: none;
      }
    }
  }
  &__body {
    font-size: 10px;
  }
  &__row {
    &:nth-of-type(odd) {
      background-color: $gray01;
    }
  }
  &__column {
    padding: 5px 10px;
    width: 60%;
    border-right: $table-border;
    border-top: $table-border;
    position: relative;
    &:last-of-type {
      border-right: none;
    }
  }

  &__bool {
    min-width: 80px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__psk {
    width: 180%;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover .tooltip {
      opacity: 1;
      visibility: visible;
    }
  }
  &__psk__choice {
    justify-content: space-around;
  }
  &__addBtn {
    display: flex;
    border-top: $table-border;
    padding: $padding-md;
    background-color: white;
  }
  &__columnBtn {
    min-width: 120px;
    line-height: 25px;
  }
  &__checkbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__add {
    padding: $padding-sm $padding-md !important;
  }
  &__center {
    display: flex;
    font-weight: 700;
  }
  &__certificates {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__icon {
    position: absolute;
    right: 5px;
    color: black;
    font-size: 14px;
    top: 45%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: $transition;
  }
  &__switch {
    margin: 0 10px;
  }
  &__title {
    font-weight: 700;
  }
}
