@import 'style/settings.scss';

.table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  font-size: 12px;
  &__wrapper {
    overflow: visible;
  }
  &__row--header {
    background-color: var(--backgroundHeader);
    border-bottom: 2px solid var(--borderColor);
    transition: $transition;

    display: flex;
    border-radius: $border-radius-lg $border-radius-lg 0 0;
  }
  &__row {
    transition: $transition;
    width: 100%;
    display: flex;
    height: 56px;
    border-bottom: 2px solid var(--borderColor);
  }
  &__header {
    &__column {
      font-size: $basic-size;
      padding: $padding-md;
      transition: $transition;
      color: var(--columnColor);
      width: 60%;
      text-align: left;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      &:last-of-type {
        border-right: none;
      }
    }
  }
  &__body {
    font-size: 10px;
  }
  &__row__edit {
    transition: $transition;
    background-color: var(--backgroundHeader) !important;
    border: none;
    border-radius: 0 0 8px 8px;
  }
  &__column {
    transition: $transition;
    padding: 8px 10px;
    width: 60%;
    height: 56px;
    position: relative;
    font-size: $basic-size;
    &:last-of-type {
      border-right: none;
    }
  }

  &__bool {
    min-width: 80px;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__psk {
    width: 180%;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__psk__choice {
    justify-content: space-around;
  }
  &__psk__btn {
    transition: $transition;
    color: var(--inputText);
    height: 100%;
    width: 100%;
    border: none;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $basic-size;
  }
  &__addBtn {
    display: flex;
    justify-content: flex-start;

    padding-top: 32px;
  }
  &__columnBtn {
    min-width: 120px;
    line-height: 25px;
  }
  &__checkbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__add {
    padding: $padding-sm $padding-md;
    background-color: transparent;
    color: $blue;
  }
  &__center {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    width: 100%;
    transition: $transition;
    color: var(--inputText);
    height: 100%;
  }
  &__certificates {
    display: flex;
    justify-content: center;
    align-items: center;
    &__hardware {
      width: 80%;
    }
  }

  &__icon {
    position: absolute;
    right: 10px;
    font-size: 16px;
    top: 50%;
    transform: translate(-50%, -55%);
    color: #bdbdbd;
    cursor: pointer;
    transition: $transition;
    &__change {
      right: 0px;
    }
  }

  &__iconBox {
    padding: $padding-sm;
  }

  &__title {
    font-weight: 700;
  }

  &__btn {
    color: white;
    padding: $padding-sm $padding-md;
    min-width: 160px;
  }

  &__text {
    transition: $transition;
    color: var(--inputText);
    font-size: 16px;
    margin: 0 20px;
  }

  &__upload {
    font-size: 24px;
    color: $blue;
    margin-left: 15px;
  }
}
