


//.app {
//    text-align: center;
//}

.VRF-settings-container {
    width: 100vw;
    display: inline-flex;
    align-items: center;
}

.top-bar-logo {
    display: inline-flex;
    justify-content: flex-start;
    width: 96vw;
    height: 40px;
    border-bottom: solid black 1px;
    margin: 20px 0 0 0;
}
