


.app {
    text-align: center;
}

.app-container {
    width: 100vw;
}

.top-bar {
    width: 96vw;
    height: 60px;
    border-bottom: solid black 1px;
    margin: 20px;
}

.VRF-selection-panel {
    width: 20vw;
    display: inline-flex;
    border: solid black;
}

.VRF-settings-window {
    width: 70vw;
    display: inline-flex;
    border: solid black;
}