Cisco-IOS-XE-native:native/crypto/ikev2/proposal
{
        "proposal": {
                "name": "%s",
                "encryption": {
                "%s": [null]
                },
                "integrity": {
                "%s": [null]
                },
                "prf": {
                "%s": [null]
                },
                "group": {
                "%s": [null]
                }
        }
}
