Cisco-IOS-XE-native:native/crypto/ikev2/policy
{
        "policy": {
                "name": "%s",
                "match": {
                "fvrf": {
                        "any": [null]
                }
                },
                "proposal": {
                "proposals": "%s"
                }
        }
}
