Cisco-IOS-XE-native:native/crypto/ikev2/keyring
{
        "name": "%s",
        "address": {
                "ipv4": {
                "ipv4-address": "%s"
                }
        },
        "pre-shared-key": {
                "key": "%s"
        }
}
{
        "keyring": {
                "name": "%s",
                "peer": %s
        }
}
