Cisco-IOS-XE-native:native/crypto/ipsec/transform-set
{
        "transform-set": {
                "tag": "%s",
                "esp": "%s",
                %s
                %s
                "mode": {
                "%s": [
                null
                ]
                }
        }
}
