Cisco-IOS-XE-native:native/crypto/ipsec/transform-set
{
        "transform-set": {
                "tag": "{{ .ClientName }}",
                "esp": "{{ transformSetEsp $.VrfWithCryptoSlices }}",
                {{ transformSetKeyBit $.VrfWithCryptoSlices }}
                {{ transformSetEspHmac $.VrfWithCryptoSlices }}
                "mode": {
                "{{ transformSetTunnelOptionName $.VrfWithCryptoSlices }}": [null]
                }
        }
}
