Cisco-IOS-XE-native:native/crypto/ipsec/profile
{
        "profile": {
                "name": "hardware_psk",
                "set": {
                "ikev2-profile": "hardware_psk",
                "pfs": {
                "group": "{{ index .CryptoPh2Slice 2 }}"
                },
                "transform-set": [
                "hardware_psk"
                ],
                "security-association": {
                "lifetime": {
                "kilobytes": "disable"
                }
                }
                }
        }
}
