Cisco-IOS-XE-native:native/interface
{
        "interface": [
        {{ range $index, $endpoint := .EndpointSubset }}
                {
                        "Tunnel": {
                        "name": {{ $endpoint.ID }},
                        "description": "hardware_psk{{ $index }}",
                        "ip": {
                        "address": {
                        "primary": {
                                "address": "{{ $endpoint.LocalIP }}",
                                "mask": "255.255.255.252"
                        }
                        }
                        },
                        "Cisco-IOS-XE-tunnel:tunnel": {
                        "source": "{{ $endpoint.SourceInterface }}",
                        "destination-config": {
                        "ipv4": "{{ $endpoint.RemoteIPSec }}"
                        },
                        "mode": {
                        "ipsec": {
                                "ipv4": {}
                        }
                        },
                        "protection": {
                        "Cisco-IOS-XE-crypto:ipsec": {
                                "profile-option": {
                                "name": "hardware_psk"
                                }
                        }
                        }
                        }
                        }
                } {{ if (notEndOfSlice $.EndpointSubset $index) }},{{ end }}
        {{ end }}
        ]
}
