Cisco-IOS-XE-native:native/router/bgp
Cisco-IOS-XE-native:native/router/bgp={{ .Vrf.LocalAs }}
{
        "bgp": [
                {
                "id": {{ .LocalAs }},
                "bgp": {
                "log-neighbor-changes": true
                },
                "neighbor": [
                {{ range $index, $endpoint := .BGPEndpointSubset }}
                {
                        "id": "{{ $endpoint.PeerIP }}",
                        "remote-as": {{ $endpoint.RemoteAS }}
                }
                {{ if (notEndOfSlice $.BGPEndpointSubset $index) }},{{ end }}
                {{ end }}
                ],
                "address-family":{
                "no-vrf":{
                        "ipv4":[
                        {
                                "af-name":"unicast",
                                "ipv4-unicast":{
                                "neighbor":[
                                {{ range $index, $endpoint := .BGPEndpoints4 }}
                                        {
                                                "id":"{{ $endpoint.PeerIP }}",
                                                "activate":[
                                                null
                                                ]
                                        }
                                {{ if (notEndOfSlice $.BGPEndpoints4 $index) }},{{ end }}
                                {{ end }}
                                ],
                                "redistribute":{
                                "connected":{}
                                }
                                }
                        }
                        ],
                        "ipv6":[
                        {
                                "af-name":"unicast",
                                "ipv6-unicast":{
                                "neighbor":[
                                {{ range $index, $endpoint := .BGPEndpoints6 }}
                                        {
                                                "id":"{{ $endpoint.PeerIP }}",
                                                "activate":[
                                                null
                                                ]
                                        }
                                {{ if (notEndOfSlice $.BGPEndpoints6 $index) }},{{ end }}
                                {{ end }}
                                ],
                                "redistribute":{
                                "connected":{}
                                }
                                }
                        }
                        ]
                }
                }
                }
        ]
}
