@import 'style/settings.scss';

.logs {
  width: 100%;
  padding: 24px;
  min-width: 1000px;
  &__context {
    height: 0px;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    flex-direction: column;
    opacity: 0;

    &__active {
      margin: 18px 0;
      opacity: 1;
      height: 380px;
    }
  }

  &__list {
    list-style-type: none;
  }
  &__panel {
    transition: $transition;
    border: 1px solid var(--borderColor);
    border-radius: 0 0 8px 8px;
    background-color: $light;
    padding: 24px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
  }
  &__description {
    max-width: 100ch;
    font-size: 14px;
    color: $gray02;
    white-space: pre-wrap;
    font-family: monospace;
  }

  &__footer {
    text-align: right;
    padding: 10px 0;
  }
  &__save {
    color: white;
  }
  &__auto {
    margin-right: 10px;
    background-color: $gray01;
    color: $gray03;
  }
  &__char {
    font-size: 16px;
  }
  &_btn {
    width: 140px;
    &:focus {
      box-shadow: none;
    }
  }
  &_icon {
    font-size: 20px;
    margin-left: 10px;
    transform: rotate(90deg);
  }
}
