@import 'style/settings.scss';

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: $table-border;
  padding: 10px;
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 101;
  &__left,
  &__right {
    display: flex;
  }
  &__image {
    height: 32px;
  }
  &__productName {
    margin-left: 20px;
    font-size: 24px;
    color: $gray05;
  }
  &__icon {
    cursor: pointer;
    transition: $transition;
    color: $gray05;
    &:hover {
      color: $primary;
    }
  }
  &__log {
    padding: 4px 0px;
    min-width: 140px;
  }
}
