@import 'style/settings.scss';

.topBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  height: 65px;
  margin-left: 214px;
  width: calc(100% - 214px);
  background-color: var(--backgroundColor);
  transition: $transition;
  position: fixed;
  z-index: 101;
  &__left,
  &__right {
    display: flex;
  }
  &__image {
    height: 32px;
  }
  &__icon {
    cursor: pointer;
    transition: $transition;
    &:hover {
      color: $primary;
    }
  }
  &__log {
    padding: 4px 0px;
    min-width: 100px;
    background-color: var(--backgroundColor);
    border: 1px solid $blue;
    transition: $transition;
    color: $blue;
    height: 36px;
    font-size: $small-size;
    margin: 0 14px;
  }
  &__darkIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__switch {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
