.app-container {
  display: flex;
  flex-wrap: wrap;
}
.btn {
  height: 35px;
  border-radius: 20px;
  padding: 0 15px 0 15px;
  font-size: 16px;
  border: none;
  text-align: center;
  display: inline-block;
  width: auto;
}
.blue-button {
  background-color: #3498db;
  color: #ffffff;
}
.red-button {
  background-color: red;
  color: #ffffff;
}