@import 'style/settings.scss';

.button {
  border: none;
  border-radius: $border-radius-sm;
  padding: 8px $padding-md;
  font-family: $font-family;
  font-size: $basic-size;
  transition: $transition;
  min-width: 160px;
  color: $light;
  background-color: $blue;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  cursor: pointer;
  &__delete {
    font-weight: 500;
    max-width: 140px;
    width: auto;
    background-color: $bgc-delete;
    color: white;
    margin-left: $margin-md;
  }
  &__disabled {
    transition: $transition;
    background-color: var(--backgroundBtnDisable) !important;
    color: var(--colorBtnDisable) !important;
  }
}

.endpointButton {
  font-family: $font-family;
  padding: 8px $padding-md;
  border: none;
  color: white;
  border-radius: $border-radius-sm;
  font-size: $basic-size;
  width: auto;
  min-width: 60px;
  max-width: 240px;
  cursor: pointer;
  transition: $transition;
  margin: 0 auto;
  color: $light;
  background-color: $blue;
  height: 48px;
  font-weight: 700;
  &__secondary {
    background-color: transparent;
    color: var(--inputText);
    padding: 0;
    letter-spacing: 2px;
    font-size: 12px;
  }
  &__disabled {
    background-color: var(--backgroundBtnDisable) !important;
    color: var(--colorBtnDisable) !important;
    transition: $transition;
  }
}
