@import 'style/settings.scss';

.button {
  border: $table-border;
  border-radius: $button-radius;
  padding: 8px $padding-md;
  font-size: 12px;
  cursor: pointer;
  text-transform: capitalize;
  &__delete {
    background-color: $bgc-delete;
    color: white;
  }
}

.endpointButton {
  padding: $padding-sm $padding-md;
  border: none;
  color: white;
  border-radius: 12px;
  font-size: 14px;
  width: 100%;
  max-width: 200px;
  height: 100%;
  background-color: $light-blue;
  cursor: pointer;
  transition: $transition;
  &__secondary {
    background-color: transparent;
    color: black;
    padding: 0;
    letter-spacing: 2px;
    font-size: 12px;
  }
  &__disable {
    background-color: $bgc-disable;
  }
}
