@import 'style/settings.scss';

.button {
  border: none;
  border-radius: $button-radius-secound;
  padding: 8px $padding-md;
  font-family: $font-family;
  font-size: $header-and-button-font-size;
  cursor: pointer;
  transition: $transition;
  min-width: 160px;
  &__delete {
    font-weight: 500;
    width: 120px;
    background-color: $bgc-delete;
    color: white;
  }
  &__disabled {
    background-color: $bgc-disable;
  }
}

.endpointButton {
  font-family: $font-family;
  padding: 8px $padding-md;
  border: none;
  color: white;
  border-radius: $button-radius-secound;
  font-size: $header-and-button-font-size;
  width: auto;
  min-width: 60px;
  max-width: 240px;
  background-color: $primary;
  cursor: pointer;
  transition: $transition;
  margin: 0 auto;
  &__secondary {
    background-color: transparent;
    color: black;
    padding: 0;
    letter-spacing: 2px;
    font-size: 12px;
  }
  &__disabled {
    background-color: $bgc-disable;
  }
}
