@import 'style/settings.scss';

.button {
  height: 40px;
  border: none;
  border-radius: $button-radius;
  padding: 8px $padding-lg;
  font-family: 'ciscoSansRegular', monospace ;
  font-size: $header-and-button-font-size;
  cursor: pointer;
  transition: $transition;
  &__delete {
    font-weight: 500;
    max-width: 140px;
    width: auto;
    background-color: $bgc-delete;
    color: white;
  }
  &__disabled {
    background-color: $bgc-disable;
  }
}

.endpointButton {
  font-family: 'ciscoSansRegular', monospace;
  padding: $padding-sm $padding-lg;
  border: none;
  color: white;
  border-radius: $button-radius;
  font-size: $header-and-button-font-size;
  width: auto;
  max-width: 240px;
  height: 40px;
  background-color: $primary;
  cursor: pointer;
  transition: $transition;
  margin: 0 auto;
  &__secondary {
    background-color: transparent;
    color: black;
    padding: 0;
    letter-spacing: 2px;
    font-size: 12px;
  }
  &__disabled {
    background-color: $bgc-disable;
  }
}
