@import 'style/settings.scss';
.upload {
  &__wrapper {
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__noCert {
    justify-content: flex-end;
  }
  &__input {
    display: none;
  }
  &__button {
    font-size: $basic-size;
    color: white;
    width: 170px;
  }
  &__noCert__button {
    margin-left: 16px;
  }
  &__cancel {
    font-weight: 400;
    background-color: transparent;
    color: #3d89eb;
    border: 1px solid #3d89eb;
    width: 170px;
  }
  &__delete {
    font-weight: 400;
    background-color: transparent;
    color: #f44336;
    border: 1px solid #f44336;
    width: 170px;
  }
}
