@import "./src/css/ColorThemes";

.vrf-detail-container {
    width: 100%;
}
.vrf-detail-section-container {
    margin: 25px 0;
    border: solid $light-gray 1px;
}
td.break {
    padding: 0 65px 0 0;
}
.endpoints-table {
    width: 100%;
    table-layout: fixed;
    text-align: left;
    tr:nth-child(odd) {
        background-color: $light-gray;
    }
}
select {
    width: 185px;
}
