@import 'style/settings.scss';

.notifications {
  padding: 10px;
  &__wrapper {
    overflow-y: scroll;
    max-height: 390px;
  }
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: $wrapper_border;
    border-bottom: $wrapper_border;
    font-weight: bold;
  }
  &__log {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: $wrapper_border;
    &:last-of-type {
      border-bottom: none;
    }
  }
  &__time,
  &__response {
    padding: $padding-md;
  }
  &__time {
    width: 20%;
    border-right: $wrapper_border;
  }
  &__response {
    width: 80%;
  }
  &__error {
    color: red;
  }
  //   &__column {
  //     padding: $padding-md;
  //     width: 100%;
  //     border-right: $table-border;
  //     font-size: 12px;
  //     display: flex;
  //     justify-content: flex-start;
  //     align-items: center;
  //     white-space: nowrap;
  //     overflow: hidden;
  //     text-overflow: ellipsis;
  //     &:last-of-type {
  //       border-right: none;
  //     }
  //     &__sm {
  //       justify-content: center;
  //       width: 15%;
  //     }
  //     &__status {
  //       width: 15%;
  //     }
  //     &__md {
  //       width: 30%;
  //     }
  //     &__lg {
  //       width: 50%;
  //     }
  //     &__resolve {
  //       font-size: 20px;
  //     }
  //   }
  //   &__status {
  //     text-transform: uppercase;
  //     font-weight: bold;
  //     justify-content: flex-start;
  //   }
  //   &__error {
  //     color: red;
  //   }
}
