@import 'ColorThemes';
@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  color: $gray03;
  background-color: $lightGray02;
}

::-webkit-scrollbar-track {
	background-color: #eff1f6;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-thumb {
	border-radius: 6px;
	border: 3px solid #eff1f6;
	background-color: #8C8C8C;
}