@import 'style/settings.scss';

.notification {
  background-color: var(--backgroundColor);
  border-radius: $border-radius-lg;
  position: absolute;
  top: 120%;
  right: 25%;
  min-width: 320px;
  padding: 16px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in;
  border: 1px solid var(--borderColor);

  &__active {
    opacity: 1;
    visibility: visible;
  }
  &__header {
    transition: $transition;
    border-bottom: 1px solid var(--borderCerts);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px 16px;
  }
  &__title {
    display: flex;
    font-size: $basic-size;
    font-weight: 500;
    transition: $transition;
    color: var(--titleColor);
  }
  &__amount {
    transition: $transition;
    background-color: var(--backgroundHoverVrf);
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    margin-left: 10px;
    width: 24px;
    line-height: 24px;
    height: 24px;
    font-size: 12px;
    color: $blue;
    font-weight: 500;
  }
  &__show {
    background-color: var(--backgroundColor);
    transition: $transition;
    font-size: $small-size;
    min-width: 70px;
    font-weight: 500;
    border: none;
    color: $blue;
    height: 23px;
    cursor: pointer;
  }
  &__mark {
    background-color: var(--backgroundColor);
    transition: $transition;
    min-width: 70px;
    font-weight: 500;
    border: none;
    color: $blue;
    height: 23px;
    font-size: $basic-size;
    cursor: pointer;
  }
  &__new {
    transition: $transition;
    border-bottom: 1px solid var(--borderCerts);
    max-height: 270px;
    overflow-y: scroll;
  }
  &__footer {
    transition: $transition;
    border-top: 1px solid var(--borderCerts);
    padding-top: 16px;
    text-align: center;
  }
  &__content {
    max-height: 270px;
    overflow-y: scroll;
  }
  &__each {
    padding: $padding-md;
    border-bottom: $wrapper-border;
  }
  &__btn {
    color: $primary;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  &__empty {
    font-size: $basic-size;
    color: var(--inputText);
    padding: 24px 24px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
