<div id=root>
  <div id=content>
    <h1>IPSEC test app</h1>
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>remote address</td>
          <td><input #remoteAddress type="text" /></td>
        </tr>
        <tr>
          <td>rsa key</td>
          <td><textarea></textarea></td>
        </tr>
        <tr>
          <td>hardware acceleration</td>
          <td><input #hwAcc type="checkbox" /></td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-success">update configuration</button>
  </div>
</div>
