<div id=root>
  <div id=list>
    <h3>VRFs</h3>
    <ul id=list_ul class="list-group" *ngFor="let vrf of vrfs; index as i">
      <li class="list-group-item" (click)="setCurrentVRF(i)"
      (mouseover)="vrf.hover=true" (mouseleave)="vrf.hover=false"
      [ngStyle]="{'background-color': vrf.Active ? '#00800020' : '#ffffff'}"
      ><span>{{vrf.customName}}</span><i *ngIf="vrf.hover" class="fas fa-trash-alt vrf_trash"
        (click)="deleteVRF($event, i)"></i></li>
    </ul>
    <button type="button" class="btn btn-primary" (click)="addVRF()">Add a new VRF</button>
  </div>
  <div id=edit_vrf *ngIf="currentVRF !== null">
    <div id=edit_title
    [ngStyle]="{'background-color': currentVRF.Active ? '#00800020' : '#ffffff'}">
      <h3>{{currentVRF.customName}}</h3>
      <button type="button" class="btn btn-success" (click)="saveAndApply()">Save & Apply</button>
    </div>
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>Name</td>
          <td><input type=text class="form-control" [(ngModel)]=currentVRF.customName /></td>
        </tr>
        <tr>
          <td>Active</td>
          <td><input type="checkbox" class="form-control" [(ngModel)]=currentVRF.Active/></td>
        </tr>
        <tr>
          <td>VLAN</td>
          <td><input type=number class="form-control" [(ngModel)]=currentVRF.VLAN /></td>
        </tr>
        <tr>
          <td>AS</td>
          <td><input type=number class="form-control" [(ngModel)]=currentVRF.AS /></td>
        </tr>
        <tr>
          <td>Crypto phase 1</td>
          <td>
            <select class="custom-select" [(ngModel)]=currentVRF.cryptoPh1>
              <option>aes128-sha256-x25519</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Crypto phase 2</td>
          <td>
            <select class="custom-select" [(ngModel)]=currentVRF.cryptoPh2>
              <option>aes128gcm128-x25519</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
    <h4>Endpoints</h4>
    <table class="table">
      <thead>
        <tr>
          <th>
            Remote IP
          </th>
          <th>
            Local IP
          </th>
          <th>
            Peer IP
          </th>
          <th>
            PSK
          </th>
          <th>
            NAT
          </th>
          <th>
            BGP
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let endpoint of currentVRF.endpoints; index as i"
        (mouseover)="endpoint.hover=true" (mouseleave)="endpoint.hover=false">
          <td>{{endpoint.remoteIPSec}}</td>
          <td>{{endpoint.localIP}}</td>
          <td>{{endpoint.peerIP}}</td>
          <td>{{endpoint.PSK}}</td>
          <td><input type="checkbox" [(ngModel)]="endpoint.NAT" /></td>
          <td><input type="checkbox" [(ngModel)]="endpoint.BGP" /></td>
          <td class=trash_cell>
            <i *ngIf="endpoint.hover" class="fas fa-trash-alt"
              (click)="deleteEndpoint(i)"></i>
          </td>
        </tr>
        <tr *ngIf="addingNewEndpoint">
          <td>
            <input type="text" class="form-control" [(ngModel)]="newEndpoint.remoteIPSec"/>
          </td>
          <td>
            <input type="text" class="form-control" [(ngModel)]="newEndpoint.localIP"/>
          </td>
          <td>
            <input type="text" class="form-control" [(ngModel)]="newEndpoint.peerIP"/>
          </td>
          <td>
            <input type="text" class="form-control" [(ngModel)]="newEndpoint.PSK"/>
          </td>
          <td>
            <button type="button" class="btn btn-success" (click)="finishAddingEndpoint()"><i class="fas fa-check"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-primary" *ngIf="!addingNewEndpoint" (click)="startAddingEndpoint()"
      id=new_endpoint_btn>Add a new endpoint</button>
    <img src="/assets/UI-topo.png" id=ui_topo />
  </div>
</div>
