#root {
        display: flex;
        flex-direction: row;
        margin: 2%;
}

#edit_vrf {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
}

#list {
        width: 30%;
        margin-right: 5%;
        display: flex;
        flex-direction: column;
}

#edit_title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 1%;
        padding: 40px;
}

#ui_topo {
        margin-top: 2cm;
        width: 80%;
}

#new_endpoint_btn {
        width: 20%;
}

.vrf_trash {
        margin-left: 1vw;
}

.trash_cell {
        width: 50px;
}
