#root {
        display: flex;
        flex-direction: row;
        margin: 2%;
}

#edit_vrf {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
}

#list {
        width: 30%;
        margin-right: 5%;
        display: flex;
        flex-direction: column;
}

#edit_title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 1%;
        padding: 40px;
}

#ui_topo {
        margin-top: 1cm;
        width: 100%;
}

#new_endpoint_btn {
        width: 20%;
}

.vrf_trash {
        margin-left: 1vw;
}

.trash_cell {
        width: 50px;
}

.crypto_td {
        display: flex;
        flex-direction: row;
}

#modal_container {
        --gutter: 14px;
        --modal-color: #800000;
        --soft-color: #fafafa;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 2000;
        position: fixed;
        background-color: rgba(0,0,0,.3);
        padding-top: 2%;
}

#modal_content {
        width: 150px;
        max-width: 600px;
        height: 150px;
        max-height: 700px;
        position: relative;
        overflow: hidden;
        border-radius: 4px;
        margin: 0 auto;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}

#input_remote_as {
        width: 80px;
}
