[program:{{ $.ClientName }}]
command=/usr/local/sbin/ipsec.sh
# todo: fix this
environment=PHYS_IF="{{ $.PhysicalInterface }}", VRF_ID="{{ $.ID }}", XFRM_IP="{{ $.LocalIPs }}", XFRM_PEER="{{ $.PeerIPs }}", NAT="{{ $.Nats }}", VLANS_IPS="{{ $.Vlans }}", ENDPOINT_IDS="{{ $.EndpointIDs }}"
redirect_stderr=true
stdout_logfile=/opt/logs/{{ $.ClientName }}.log
stdout_logfile_maxbytes = 10485760 # 10 mb
stdout_logfile_backups = 10
