/* design pallet */
$primary: #049fd9;
$gray01: #f2f2f2;
$gray02: #626469;
$gray03: #39393b;
$white: #ffffff;
$red: #cf2030;
$green: #6cc04a;

/* Colors */
$sidebar-background-color: $gray01;
$sidebar-text-color: #ffffff;
$breadcrumb-font-color: $primary;
$gray-light-color: $gray01;
$disactive-color: $red;
$active-color: #6cc04a;
$light-blue: lightblue;
$vrf-active: $green;
$hardware: $primary;

/* Border */
$wrapper-border: 1px solid $gray02;
$info-border: 1px solid lightblue;
$info-footer-border: 0.5px solid gray;
$table-border-color: gray;
$table-border: 0.5px solid gray;
$sideBar-active-border: 3px solid $primary;
$endpoint-input-focus: 0.5px solid $primary;
$endpoint-input: 0.5px solid $gray03;
/* Border-radius */
$button-radius: 18px;

/* Background-color */
$bgc-gray: $gray02;
$bgc-info: lightblue;
$bgc-disable: $gray01;
$bgc-active: $gray03;
$modal-background: #00000057;
$bgc-delete: $red;

/* Font-size */
$title-size: 18px;
$link-font-size: 12px;
$modal-description-size: 12px;
$modal-title-size: 12px;

/* Font-color */
$title-color: black;
$info-title-color: white;

/* Font-family */
$title-family: 'Helvetica', monospace;

/* Font-weight */
$title-weight: 600;
$info-title-weight: 400;

/* Padding */
$wrapper-padding: 10px;
$info-padding: 5px;
$padding-sm: 5px;
$padding-md: 10px;
$padding-lg: 15px;
$padding-xl: 20px;

/* Margin */
$wrapper-margin: 0px;
$margin-sm: 5px;
$margin-md: 10px;
$margin-lg: 15px;
$margin-xl: 20px;

/* Transition */
$transition: 0.3s linear all;

/* Box-shadow */
$endpoint-option-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.35);
