@import 'ColorThemes';

@font-face {
  font-family: ciscoSansRegular;
  src: url("fonts/CiscoSansTTRegular.ttf");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'ciscoSansRegular', monospace;
  color: $gray03;
}
