@import 'ColorThemes';

@font-face {
  font-family: 'Cisco Sans';
  src: url('../assets/fonts/CiscoSans.woff2') format('woff2'), url('../assets/fonts/CiscoSans.woff') format('woff'), url('../assets/fonts/CiscoSans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Cisco Sans', monospace;
  color: $gray03;
}
