/* design pallet */
$primary: #049fd9;
$gray01: #f2f2f2;
$gray02: #626469;
$gray03: #39393b;
$gray04: #dfdfdf;
$gray05: #58585b;
$white: #ffffff;
$green: #6cc04a;

$dark: #262626;
$light: #ffffff;
$lightDark: #2a2c34;
$lightGray: #a0a3a9;
$lightGray01: #595959;
$lightGray02: #f2f5f8;
$lightGray03: #f6f7fb;
$lightGray04: #e0e0e0;
$disabledGray: #eaeaea;
$lightBlue: #3d89eb;
$lightBgcBlue: #f6f7fb;
$blue: #3d89eb;
$green: #4caf50;
$lightBgcGray: #fafafa;
$red: #eb5757;
$orange: #eb5757;
$borderColor: #e0e0e0;

/* Colors */
$sidebar-background-color: $gray01;
$sidebar-text-color: #ffffff;
$breadcrumb-font-color: $primary;
$gray-light-color: $gray01;
$disactive-color: $red;
$active-color: #6cc04a;
$light-blue: lightblue;
$blue: #3d89eb;
$green: #4caf50;
$lightBgcGray: #fafafa;

$vrf-active: $primary;
$hardware: $primary;

/* Border */
$wrapper-border: 0.5px solid $gray04;
$info-border: 1px solid lightblue;
$info-footer-border: 0.5px solid gray;
$table-border-color: gray;
$table-border: 0.5px solid $gray04;
$sideBar-active-border: 3px solid $primary;
$endpoint-input-focus: 0.5px solid $primary;
$endpoint-input: 0.5px solid $gray03;

/* Border-radius */
$border-radius-sm: 4px;
$border-radius-lg: 8px;
$button-radius: 12px;
$button-radius-secound: 100px;

/* Background-color */
$bgc-gray: $gray02;
$bgc-info: lightblue;
$bgc-disable: $gray01;
$bgc-active: $gray03;
$modal-background: #00000057;
$bgc-delete: $red;

/* Font-size */
$small-size: 14px;
$basic-size: 16px;
$title-size: 18px;

/* Font-family */
$font-family: 'Roboto', sans-serif;

/* Font-weight */
$title-weight: 600;
$info-title-weight: 400;

/* Padding */
$wrapper-padding: 10px;
$info-padding: 5px;
$padding-sm: 5px;
$padding-md: 10px;
$padding-lg: 15px;
$padding-xl: 20px;

/* Margin */
$wrapper-margin: 0px;
$margin-sm: 5px;
$margin-md: 10px;
$margin-lg: 15px;
$margin-xl: 20px;

/* Transition */
$transition: 0.3s linear all;

/* Box-shadow */
$endpoint-option-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.35);
$box-shadow: 0, 0, 4px, 0 rgba(24, 144, 255, 0.5);

/* Design pallet*/

$backgroundLight: #f2f5f8;
$backgroundDark: #050b10;
$darkGray01: #151a1f;
$darkGray02: #1e242c;
$lightBlue01: #f6f7fb;
$darkBlue: #222933;
$darkText: #858fa0;

/* Transition */

$transition: 0.3s color ease-in, 0.3s background-color ease-in, 0.3s border-color ease-in;

[data-theme='light'] {
  color: #a0a3a9;
  background-color: $backgroundLight;
  transition: $transition;

  /* Background*/
  --backgroundColor: #ffffff;
  --backgroundHoverVrf: #f6f7fb;
  --backgroundPopup: #25374666;

  /* Border-color*/
  --blueBorderColor: #3d89eb;
  --inputBorderColor: #e0e0e0;
  --borderColor: #e8e8e8;

  /*Text-color*/
  --inputText: #595959;

  /* Title-color*/
  --titleColor: #2a2c34;

  /* Table*/
  --backgroundHeader: #fafafa;
  --columnColor: #595959;

  /* Button disable*/
  --backgroundBtnDisable: #f2f2f2;
  --colorBtnDisable: #c3c3c3;

  /* Scroll*/
  ::-webkit-scrollbar-track {
    background-color: #eff1f6;
  }

  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    border: 3px solid #eff1f6;
    background-color: #8c8c8c;
  }
}

[data-theme='dark'] {
  color: #858fa0;
  background-color: #050b10;
  transition: $transition;

  /* Background*/
  --backgroundColor: #151a1f;
  --backgroundHoverVrf: #222933;
  --backgroundPopup: #050b10;

  /* Border-color*/
  --blueBorderColor: #3d89eb;
  --inputBorderColor: #2e3846;
  --borderColor: #2f3947;

  /*text-color*/
  --inputText: #858fa0;

  /* Title-color*/
  --titleColor: #ffffff;

  /* Table*/
  --backgroundHeader: #1e242c;
  --columnColor: #858fa0;

  /* Button disable*/
  --backgroundBtnDisable: #222933;
  --colorBtnDisable: #858fa0;

  ::-webkit-scrollbar {
    background-clip: padding-box;
  }

  ::-webkit-scrollbar-track {
    background-color: #050b10;
    transition: all 0.2s ease-in;
  }

  ::-webkit-scrollbar-thumb {
    border: 3px solid #050b10;
    background-color: #606f7d;
    transition: all 0.2s ease-in;
  }
}
