@import 'style/settings.scss';

.popup {
  background-color: var(--backgroundPopup);
  transition: all 0.3s ease-in;
  position: fixed;
  left: 0px;
  right: 0;
  top: 0px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;

  z-index: 99999;
  &__active {
    opacity: 1;
    visibility: visible;
  }
  &__content {
    border-radius: $border-radius-lg;
    margin: 0 auto;
    background-color: var(--backgroundPopupContent);
    overflow: hidden;
  }
  &__header {
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__icon {
    margin: 28px;
    font-size: 20px;
    cursor: pointer;
    transition: $transition;
    color: var(--titleColor);
  }
  &__title {
    transition: $transition;
    color: var(--titleColor);
    padding: 24px;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
  }
  &__context {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__footer {
    display: flex;
    justify-content: flex-end;
    padding: 24px 24px 0px 0px;
  }
  &__save {
    background-color: $primary;
    color: white;
  }
}
