{
  "vrf": {
    "id": 1,
    "client_name": "hardware",
    "vlan": [
      {
        "vlan": 321,
        "lan_ip": "1.1.1.1/24"
      },
      {
        "vlan": 456,
        "lan_ip": "2.2.2.2/24"
      }
    ],
    "crypto_ph1": "aes-cbc-128.sha256.fourteen",
    "crypto_ph2": "esp-aes.esp-sha256-hmac.group14",
    "physical_interface": "eth0",
    "active": true,
    "local_as": 65010,
    "endpoint": [
      {
        "id": 432,
        "vrf_id": 1,
        "remote_ip_sec": "10.69.0.101",
        "local_ip": "10.0.1.1",
        "peer_ip": "10.0.1.2",
        "remote_as": 65001,
        "nat": false,
        "bgp": true,
        "source_interface": "GigabitEthernet1",
        "authentication": {
          "type": "certs",
          "psk": "cisco123",
          "pkcs12_base64": "{{ lookup("file", "ansible_x509hw.b64") | replace("\n", "\\n") }}"
        }
      }
    ]
  }
}
