@import 'style/settings.scss';

.vrf {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__name {
    color: $breadcrumb-font-color;
  }
  &__btn {
    min-width: 120px;
  }
}
