@import 'style/settings.scss';

.vlan {
  display: flex;
  flex-direction: column;
  width: 30%;
  max-width: 500px;
  padding: 0px $padding-md;
  font-size: 14px;
  border-radius: $border-radius-lg $border-radius-lg 0 0;
  &__wrapper {
    overflow: visible;
  }
  &__column {
    min-width: 38px;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 5px;
    border-bottom: 1px solid #e8e8e8;
  }
  &__label {
    position: absolute;
    left: 5px;
    top: 1px;
  }
  &__select {
    &__box {
      position: relative;
      width: 100%;
      border-bottom: 2px solid $gray01;
      display: flex;
      justify-content: flex-end;
    }
    color: $gray02;
    font-size: 14px;
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 0px 0px 2px;
    outline: none;
  }
  &__btn {
    color: $blue;
    font-weight: 700;
    cursor: pointer;
    margin-right: 30px;
  }
  &__table {
    border: none;
    color: $gray02;
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
  }
  &__head {
    transition: $transition;
    background-color: var(--backgroundHeader);
    color: var(--columnColor);
    border-radius: $border-radius-lg $border-radius-lg 0 0;
  }
  &__body {
    display: block;
    overflow-y: scroll;
    height: 152px;
  }

  &__row {
    border-bottom: 2px solid var(--borderColor);
    color: var(--inputText);
    transition: $transition;
    display: flex;
    padding: 5px 10px;
    justify-content: space-between;
    align-items: center;
    height: 38px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    &__header {
      padding-right: 30px;
    }
    &__empty {
      color: $gray02;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  }
  &__cancel {
    cursor: pointer;
    color: red;
    font-size: 20px;
    margin-right: 15px;
    margin-top: 5px;
  }
  &__box {
    transition: $transition;
    background-color: var(--backgroundHeader);
    border-top: 2px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 56px;
  }
  &__field {
    margin: 8px 10px;
    position: relative;
  }
  &__label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 24px;
    font-size: $basic-size;
    font-weight: 400;
    color: $lightGray;
    padding-left: 10px;
  }
  &__input {
    transition: $transition;
    border: 1px solid var(--inputBorderColor);
    border-radius: $border-radius-sm;
    font-size: $basic-size;
    padding: $padding-sm 25px $padding-sm 70px;
    width: calc(100% - 10px);
    height: 40px;
    background-color: transparent;
    &::placeholder {
      font-size: $small-size;
    }
    &__vlan {
      padding-left: 55px;
    }
    &:focus {
      border: 1px solid $lightBlue;
      box-shadow: 0px 0px 4px #1890ff80;
      color: $lightBlue;
      outline: none;
    }
  }
  &__error {
    color: $red;
    border: 1px solid $red;
  }
}
