@import 'style/settings.scss';

.form {
  &__fieldset {
    display: flex;
    flex-wrap: wrap;
    border: none;
    border-bottom: $wrapper-border;
  }
  &__column {
    padding: 0 $padding-md $padding-xl;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: calc(100% / 3);
    flex-wrap: wrap;
  }
  &__btn {
    background-color: $primary;
    color: white;
    padding: $padding-sm $padding-md;
    min-width: 120px;
    margin: $margin-md $margin-md;
  }
}
