@import 'style/settings.scss';

.form {
  &__fieldset {
    display: flex;
    flex-wrap: wrap;
    border: none;
    border-bottom: 1px solid $gray02;
  }
  &__column {
    padding: 0 $padding-md $padding-xl ;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: calc(100% / 3);
    flex-wrap: wrap;
  }
  &__btn {
    margin: $margin-md $margin-lg;
  }
}
