@import 'style/settings.scss';

.form {
  &__btn {
    margin: 10px 15px;
  }
  &__fieldset {
    display: flex;
    flex-wrap: wrap;
    border: none;
    border-bottom: 1px solid $gray02;
  }
  &__column {
    flex-grow: 1;
  }
}
