@import 'style/settings.scss';

.panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  display: none;
  &__content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    margin: 0 24px;
    background-color: #f6f7fb;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100px;
    width: 100%;
    color: #a0a3a9;
    line-height: 24px;
    border-radius: $border-radius-lg;
  }
  &__title {
    padding: 4px 0;
    font-size: 18px;
    color: #2a2c34;
    font-weight: 500;
  }
  &__btn {
    margin-top: 24px;
    margin-left: 16px;
    min-width: 170px;
  }
  &__cancel {
    color: #3d89eb;
    font-weight: 400;
    background-color: $light;
    padding: $padding-sm $padding-md;
    min-width: 170px;
    margin-top: 24px;
    border: 1px solid #3d89eb;
  }
  &__footer {
    display: flex;
    justify-content: flex-end;
    text-align: left;
    width: 100%;
  }
  &__success {
    color: green;
  }
  &__error {
    color: red;
  }

  &__active {
    display: flex;
  }
}
