@import 'style/settings.scss';

.field {
  margin: 15px 0px 5px;
  position: relative;
  width: 100%;
  &__detail {
    width: 35%;
  }
  &__checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 15%;
    &__active {
      color: $vrf-active;
    }
    &__hardware {
      color: $hardware;
    }
  }
  &__input {
    padding: $padding-sm $padding-lg $padding-md 180px;
    width: 90%;
    border: none;
    outline: none;
    border-bottom: 2px solid $gray01;
    font-weight: 300;
    font-family: 'ciscoSansRegular', monospace;
    &:focus {
      border-bottom: 2px solid $primary;
      color: $primary;
      outline: none;
    }
  }
  &__input__setting {
    padding: $padding-sm $padding-lg $padding-md;
    margin: 0 10px;
    width: calc(100% - 20px);
  }
  &__vlan {
    padding: $padding-sm 40px $padding-md;
    width: calc(100% - 20px);
  }
  &__error {
    color: red;
    font-size: 10px;
    &__setting {
      margin: 0 10px;
    }
  }
  &__label {
    font-weight: 500;
    order: 1;
    padding: 3px 3px;
    transform: translateY(-50%);
    top: 40%;
    border: none;
    outline: none;
    position: absolute;
    &__checkbox {
      margin-left: 20px;
      transform: translateY(0%);
      position: static;
    }
  }
}
.input {
  &__checkbox {
    width: 10%;
    bottom: 2px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1532px) {
  .field {
    &__input {
      width: 100%;
    }
    &__checkbox {
      width: 14%;
    }
    &__label {
      &__checkbox {
        margin-left: 0;
      }
    }
  }
}
