@import 'style/settings.scss';

.field {
  margin: 15px 0px 20px;
  position: relative;
  width: 100%;

  &__detail {
    width: 30%;
  }
  &__checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 175px;
    margin: 0;
    &__active {
      color: $vrf-active;
    }
    &__hardware {
      color: $hardware;
    }
  }
  &__input {
    padding: 8px;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-weight: 300;
    font-size: $basic-size;
    border: 1px solid var(--inputBorderColor);
    transition: $transition;
    color: var(--inputText);
    border-radius: $border-radius-sm;
    background-color: transparent;
    &:focus {
      border: 1px solid $lightBlue;
      box-shadow: 0px 0px 4px #1890ff80;
      color: $lightBlue;
      outline: none;
    }
  }

  &__vlan {
    padding: $padding-sm 40px $padding-md;
    width: calc(100% - 20px);
  }
  &__error {
    color: red;
    font-size: 10px;
    &__setting {
      margin: 0 10px;
    }
  }
  &__label {
    color: var(--inputText);
    transition: $transition;
    font-weight: 400;
    order: 1;
    font-size: 12px;
    transform: translateY(-50%);
    line-height: 24px;
    top: -12px;
    border: none;
    outline: none;
    position: absolute;
    &__checkbox {
      margin-left: 20px;
      transform: translateY(0%);
      position: static;
      font-weight: 400;
      font-size: $basic-size;
    }
  }
}
.input {
  &__checkbox {
    width: 14px;
    bottom: 2px;
    &:focus {
      box-shadow: none;
    }
  }
}
