@import '../../../css/ColorThemes';

.field {
  margin: 15px 0 5px 5px; //instead of putting margin on each .field this can be probably done by padding on the whole container
  position: relative;
  &__input {
    padding: 3px 3px 5px 140px;
    width: 90%;
    border: none;
    border-bottom: 2px solid $light-gray;
    outline: none;
    &:focus {
      border-bottom: 2px solid $blue;
      color: $blue;
      outline: none;
    }
    &[type='checkbox'] {
      position: relative;
      bottom: 2px;
      transform: translateX(-50%);
      left: 150px;
    }
    &[type='number'] {
      width: 90%;
    }
  }
  &__label {
    padding: 3px 3px;
    transform: translateY(-50%);
    top: 40%;
    border: none;
    outline: none;
    position: absolute;
  }
}
