@import '../../../css/ColorThemes';

.field {
  margin: 15px 0 5px 5px;
  position: relative;
  &__input {
    padding: 3px 3px 5px 140px;
    width: 90%;
    border: none;
    border-bottom: 2px solid $gray01;
    outline: none;
    &:focus {
      border-bottom: 2px solid $primary;
      color: $primary;
      outline: none;
    }
  }
  &__label {
    padding: 3px 3px;
    transform: translateY(-50%);
    top: 40%;
    border: none;
    outline: none;
    position: absolute;
  }
}
.input {
  &__checkbox {
    position: relative;
    bottom: 2px;
    transform: translateX(-50%);
    left: 150px;
  }
  &__number {
    width: 90%;
  }
}