Cisco-IOS-XE-native:native/crypto/ikev2/proposal
{
   "proposal":{
      "name":"hardware_certs",
      "encryption":{
         "{{ index .CryptoPh1Slice 0 }}":[null]
      },
      "integrity":{
         "{{ index .CryptoPh1Slice 1 }}":[null]
      },
      "prf":{
         "{{ index .CryptoPh1Slice 1 }}":[null]
      },
      "group":{
         "{{ index .CryptoPh1Slice 2 }}":[null]
      }
   }
}
