Cisco-IOS-XE-native:native/crypto/pki/trustpoint
{{ range $index, $endpoint := .EndpointSubset }}Cisco-IOS-XE-native:native/crypto/pki/trustpoint=hardware_certs{{$endpoint.ID}} {{end}}
{
  "Cisco-IOS-XE-crypto:trustpoint": [
    {{ range $index, $endpoint := .EndpointSubset }}
    {
      "id": "hardware_certs{{ $endpoint.ID }}",
      "revocation-check": ["none"]
    }
    {{ if (notEndOfSlice $.EndpointSubset $index) }},{{ end }}
    {{ end }}
  ]
}
