Cisco-IOS-XE-native:native/crypto/ikev2/policy
Cisco-IOS-XE-native:native/crypto/ikev2/policy=hardware_certs
{
        "policy": {
                "name": "hardware_certs",
                "match": {
                "fvrf": {
                        "any": [null]
                }
                },
                "proposal": {
                "proposals": "hardware_certs"
                }
        }
}
