Cisco-IOS-XE-native:native/router/bgp
{
        "bgp": [
                {
                "id": {{ .LocalAs }},
                "bgp": {
                "log-neighbor-changes": true
                },
                "neighbor": [
                {{ range $index, $endpoint := .EndpointSubset }}
                {
                        "id": "{{ $endpoint.PeerIP }}",
                        "remote-as": {{ $endpoint.RemoteAS }}
                }
                {{ if (notEndOfSlice $.EndpointSubset $index) }},{{ end }}
                {{ end }}
                ],
                "address-family":{
                "no-vrf":{
                        "ipv4":[
                        {
                                "af-name":"unicast",
                                "ipv4-unicast":{
                                "neighbor":[
                                {{ range $index, $endpoint := .EndpointSubset }}
                                        {
                                                "id":"{{ $endpoint.PeerIP }}",
                                                "activate":[
                                                null
                                                ]
                                        }
                                {{ if (notEndOfSlice $.EndpointSubset $index) }},{{ end }}
                                {{ end }}
                                ],
                                "redistribute":{
                                "connected":{}
                                }
                                }
                        }
                        ]
                }
                }
                }
        ]
}
