@import 'style/settings.scss';

.endpointOption {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -5%);
  box-shadow: $endpoint-option-shadow;
  visibility: hidden;
  opacity: 0;
  background-color: white;
  width: 100%;
  max-width: 120px;
  z-index: 4;
  transition: $transition;

  &__active {
    visibility: visible;
    opacity: 1;
  }
  &__list {
    list-style-type: none;
  }
  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 500;
    transition: $transition;
    text-align: left;
    font-size: 14px;
    padding: 8px;
    cursor: pointer;
    &:first-of-type {
      border-bottom: $table-border;
    }
    &:nth-of-type(2) {
      border-bottom: $table-border;
    }
  }
  &__delete {
    color: $red;
  }
  &__icon {
    margin: 0 10px 3px 0;
  }
}

.endpointInput {
  &__checkbox {
    margin-right: 4px;
  }
}
