@import 'style/settings.scss';

.wrapper {
  margin: $margin-lg 0;
  font-size: $small-size;
  background-color: var(--backgroundColor);
  transition: $transition;
  border-radius: $border-radius-lg;
  padding: 24px;
  &__header {
    font-weight: 600;
    font-size: 20px;
    padding: 0px 0 24px;
    display: flex;
    justify-content: space-between;
  }
  &__title {
    margin: 0;
    font-size: 20px;
    color: var(--titleColor);
    transition: $transition;
  }
  &__btn {
    border: none;
    font-size: 10px;
    cursor: pointer;
  }
  &__content {
    margin: 0 auto;
    border-top: none;
  }
  &__small {
    margin: 0;
    font-size: 12px;
    overflow: visible;
  }
}
