@import "style/settings.scss";

.wrapper {
    &__header {
        border: $wrapper-border;
        background-color: $bgc-gray;
    }
    &__title {
        padding: $wrapper-padding;
        margin: 0;
    }
    &__content {
        border: $wrapper-border;
        border-top: none;
    }
}
