@import 'style/settings.scss';

.wrapper {
  margin: $margin-lg 0;
  overflow: hidden;
  font-size: 14px;
  &__header {
    font-weight: 600;
    border: $wrapper-border;
    background-color: $gray01;
    padding: $wrapper-padding;
    display: flex;
    justify-content: space-between;
  }
  &__title {
    margin: 0;
  }
  &__btn {
    color: $primary;
    border: none;
    font-size: 10px;
    cursor: pointer;
  }
  &__content {
    margin: 0 auto;
    border: $wrapper-border;
    border-top: none;
    overflow: hidden;
  }
}
